.restruct-wrapper
  .panel
    .panel-heading
      .title Animations
    .panel-body
      %section.display-wrapper
        .section-title
          Pure CSS Shape Classes
        .section-body 
          .demo-wrapper.grid-x
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-ball.small-fontsize-40
                .item-title .ld-ball
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-hourglass.small-fontsize-40
                .item-title .ld-hourglass
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-ring.small-fontsize-40
                .item-title .ld-ring
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-square.small-fontsize-40
                .item-title .ld-square
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-cross.small-fontsize-40
                .item-title .ld-cross
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-spinner.small-fontsize-40
                .item-title .ld-spinner
            .cell.small-12.medium-4
              .demo-item 
                .item-content
                  .ld-pie.small-fontsize-40
                .item-title .ld-pie
      
      %section.display-wrapper
        .section-title
          Animation Classes
        .sction-body
          .demo-wrapper.animation-demo.grid-x
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-beat Demo Button
                .item-title .ld-beat
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-blink Demo Button
                .item-title .ld-blink
            .cell.small-12.medium-4
              .demo-item
                .item-content
                  .button.small.ld-blur Demo Button
                .item-title .ld-blur
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-bounce Demo Button
                .item-title .ld-bounce
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-bounceAlt Demo Button
                .item-title .ld-bounceAlt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-breath Demo Button
                .item-title .ld-breath
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-clock Demo Button
                .item-title .ld-clock
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-coin-h Demo Button
                .item-title .ld-coin-h
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-coin-v Demo Button
                .item-title .ld-coin-v
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-cycle Demo Button
                .item-title .ld-cycle
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-cycle-alt Demo Button
                .item-title .ld-cycle-alt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-damage Demo Button
                .item-title .ld-damage
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-dim Demo Button
                .item-title .ld-dim
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-fade Demo Button
                .item-title .ld-fade
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-flip Demo Button
                .item-title .ld-flip
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-flip-h Demo Button
                .item-title .ld-flip-h
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-flip-v Demo Button
                .item-title .ld-flip-v
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-float Demo Button
                .item-title .ld-float
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-heartbeat Demo Button
                .item-title .ld-heartbeat
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-hit Demo Button
                .item-title .ld-hit
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-jelly Demo Button
                .item-title .ld-jelly
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-jelly-alt Demo Button
                .item-title .ld-jelly-alt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-jingle Demo Button
                .item-title .ld-jingle
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-jump Demo Button
                .item-title .ld-jump
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-measure Demo Button
                .item-title .ld-measure
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-metronome Demo Button
                .item-title .ld-metronome
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-btt Demo Button
                .item-title .ld-move-btt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-fade-btt Demo Button
                .item-title .ld-move-fade-btt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-fade-ltr Demo Button
                .item-title .ld-move-fade-ltr
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-fade-rtl Demo Button
                .item-title .ld-move-fade-rtl
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-fade-ttb Demo Button
                .item-title .ld-move-fade-ttb
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-ltr Demo Button
                .item-title .ld-move-ltr
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-rtl Demo Button
                .item-title .ld-move-rtl
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-move-ttb Demo Button
                .item-title .ld-move-ttb
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-orbit Demo Button
                .item-title .ld-orbit
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-pulse Demo Button
                .item-title .ld-pulse
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rubber-h Demo Button
                .item-title .ld-rubber-h
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rubber-v Demo Button
                .item-title .ld-rubber-v
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rush-btt Demo Button
                .item-title .ld-rush-btt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rush-ltr Demo Button
                .item-title .ld-rush-ltr
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rush-rtl Demo Button
                .item-title .ld-rush-rtl
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-rush-ttb Demo Button
                .item-title .ld-rush-ttb
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-shake-h Demo Button
                .item-title .ld-shake-h
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-shake-v Demo Button
                .item-title .ld-shake-v
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-shiver Demo Button
                .item-title .ld-shiver
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-skew Demo Button
                .item-title .ld-skew
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-skew-alt Demo Button
                .item-title .ld-skew-alt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-slide-btt Demo Button
                .item-title .ld-slide-btt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-slide-ltr Demo Button
                .item-title .ld-slide-ltr
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-slide-rtl Demo Button
                .item-title .ld-slide-rtl
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-slide-ttb Demo Button
                .item-title .ld-slide-ttb
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-smash Demo Button
                .item-title .ld-smash
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-spin Demo Button
                .item-title .ld-spin
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-spin-fast Demo Button
                .item-title .ld-spin-fast
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-squeeze Demo Button
                .item-title .ld-squeeze
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-surprise Demo Button
                .item-title .ld-surprise
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-swim Demo Button
                .item-title .ld-swim
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-swing Demo Button
                .item-title .ld-swing
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-tick Demo Button
                .item-title .ld-tick
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-tick-alt Demo Button
                .item-title .ld-tick-alt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-tremble Demo Button
                .item-title .ld-tremble
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-vortex Demo Button
                .item-title .ld-vortex
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-vortex-alt Demo Button
                .item-title .ld-vortex-alt
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-wander-h Demo Button
                .item-title .ld-wander-h
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-wander-v Demo Button
                .item-title .ld-wander-v
            .cell.small-12.medium-4
              .demo-item
                .item-content 
                  .button.small.ld-wrench Demo Button
                .item-title .ld-wrench

      %section.display-wrapper
        .section-title
          Animate while Hover
        .sction-body
          .demo-wrapper.animation-demo.grid-x
            .cell.small-12.medium-4  
              .demo-item
                .item-content 
                  .button.small.hover-ld-bounce Demo Hover Button
                .item-title
                  = '.button.small.hover-ld-bounce'.html_safe
            .cell.small-12.medium-4  
              .demo-item
                .item-content 
                  .ld-square.text-yellow.small-fontsize-40.hover-ld-cycle
                .item-title
                  = '.ld-square.bg-yellow.small-fontsize-40.hover-ld-cycle'.html_safe
            .cell.small-12.medium-4  
              .demo-item
                .item-content 
                  .ld-ball.text-green.small-fontsize-30.hover-ld-blur
                .item-title
                  = '.ld-ball.text-green.small-fontsize-30.hover-ld-blur'.html_safe


