.restruct-wrapper
  .panel
    .panel-heading
      .title Import Font File
    .panel-body
      %section.display-wrapper
        .section-title
          Demo Imported Font - Poppins
        .sction-body
          .demo-wrapper.font-demo
            %p 1234567890
            %p.font-light abcdefghijklmnopqrstuvwxyz
            %p.font-normal abcdefghijklmnopqrstuvwxyz 
            %p.font-bold abcdefghijklmnopqrstuvwxyz
            %p.caps abcdefghijklmnopqrstuvwxyz


