.restruct-wrapper
  .panel
    .panel-heading
      .title Global Notice
    .panel-body
      %section.display-wrapper
        .sction-body
          .grid-x
            .cell.medium-3
              %a.button.small#global-notification-demo-button Click to Show Global Notice
